body{
    height: 170vh;
    margin: 0%;
    padding: 0%;
}

.container-master{
    height: 100%;

    display: flex;
    flex-direction: column;
}

.cabecalho{
    height: 10%;
    background-color: #87ceeb;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    height: 70%;
    min-width: 50%;
    width: auto;

    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.links a{
    border: none;
    outline: none;
    margin: 1%;
    
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.links a:hover{
    transition: 0.2s;
    transform: scale(1.04);
}

.links a:active{
    transition: 0.2s;
    transform: scale(1);
}

.container-voltar{
    height: 70%;
    width: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-voltar a{
    height: 90%;
    width: 35%;

    outline: none;
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-voltar a:hover{
    transition: 0.2s;
    background-color: rgb(0, 0, 0, 0.123);
}

.container-voltar a:active{
    transition: 0.3s;
    transform: scale(0.98);
}

footer{
    height: 10%;
    background-color: black;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dev, .incorporacao{
    height: 70%;
    width: 20%;
    max-width: 20%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article{
    height: 80%;
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-titulo{
    height: 10%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid silver;
}

.container-titulo h1{
    text-align: center;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.container-desc{
    height: auto;
    width: 90%;
}

.container-desc p{
    text-align: center;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-grafico{
    height: 75%;
    width: 95%;
    border: 1px solid silver;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.grafico{
    height: 100%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grafico-pizza{
    height: 100%;
    width: 90%;
}