body{
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-termos-condicoes{
    height: 15vh;
    width: 100vw;
    background-color: #a9a9a9;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: fixed;
}

.titulo{
    height: 90%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-voltar{
    height: 90%;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-voltar{
    height: 70%;
    width: 15%;

    cursor: pointer;
    border: none;
    border-radius: 12px;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
}

.btn-voltar:hover{
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.123);
}

.termos-condicoes{
    height: auto;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.termo{
    height: auto;
    width: 80%;
    padding-left: 3%;
    padding-right: 3%;

    border-left: 2px solid rgb(228, 228, 228);
    border-right: 2px solid rgb(228, 228, 228);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.artigo-termo{
    height: 20%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.condicao{
    height: 70%;
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.condicao span{
    margin-bottom: 1%;
}

footer{
    height: 15vh;
    width: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desenvolvedor, .incorporacao{
    height: 70%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color: white;
}