body{
    height: 103vh;
    margin: 0%;
    padding: 0%;
}

.container-master{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    height: 85%;
    background-color: #87CEEB;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

footer{
    height: 15%;
    background-color: black;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.container-detalhes{
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-info-carro{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.desenvolvedor, .incorporacao{
    height: 60%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.detalhes{
    height: 90%;
    width: 85%;
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.info-carro{
    height: 90%;
    width: 85%;
    background-color: whitesmoke;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title-detalhes{
    height: 12%;
    width: 95%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.container-informacoes{
    height: 60%;
    width: 95%;
    border-top: 1px solid silver;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-eventos{
    height: 25%;
    width: 95%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    height: 90%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-btn-voltar{
    height: 100%;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-voltar{
    height: 85%;
    width: 60%;

    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    outline: none;
    border-radius: 6px;
    text-decoration: none;
}

.btn-voltar:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.123);
}

.btn-voltar:active{
    transform: scale(0.98);
}

.container-inputs{
    height: 23%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.bloco-input{
    height: 100%;
    width: 48%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.bloco-input input{ 
    height: 50%;
    width: 95%;
    padding-left: 2%;

    border: none;
    border: 2px solid #49bce9;
    outline: none;
    border-radius: 6px;

    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
}

.bloco-input label{
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.guia{
    height: 40%;
    width: 100%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.eventos{
    height: 60%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.marcar-feito, .marcar-nao-feito{
    height: 80%;
    width: 49%;

    border-top: 1px solid silver;
    border-bottom: 1px solid silver;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inp-radio{
    height: 1.2em;
    width: 10%; 
    border: 0px; 
    outline: none;
}

.title-info-carro{
    height: 13.4%;
    width: 96%;
    border-bottom: 1px solid silver;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.carro{
    height: 75%;
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-desmarcar{
    height: 12%;
    width: 96%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid silver;
}

.bloco-info-carro{
    height: 12%;
    width: 100%;

    display: flex;
    align-items: center;

    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bloco-info-carro span{
    margin-left: 1%;
}

.btn-desmarcar{
    height: 70%;
    width: 80%;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #DC3545;

    color: white;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-desmarcar:hover{
    transition: 0.3s;
    background-color: #BB2D3B;
}

.btn-desmarcar:active{
    transform: scale(0.98);
    background-color: #B02A37;
}